body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  padding-bottom: 5%;
}

.ArmyIcon{
  top: 0;
  left: 0;
  height: 55px;
  width: 70px;
}

.Header{
  display: flex;
  justify-content: left;
}

.Header-guts{
  left: 60px;
  display: flex;
  justify-content: space-between;
  height: 55px;
  width: 95%;
  margin-left: 7%;
}

.Header h1{
  font-size: 24px;
  ;
}

.Header p{
  margin-top: 3%;
}

.USBIcon{
  width: 50%;
  height: 50%;
}

.Footer{
  position: absolute;
  max-height: 5%;
  width: 100%;
  top: 95%;
}